@font-face {
  font-family: "Alegreya Bold";
  src: url("../fonts/AlegreyaSansSC-Bold.ttf");
}

@font-face {
  font-family: "Alegreya Light";
  src: url("../fonts/AlegreyaSans-Light.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  background-color: #d35400;
  height: 100vh;
  border-image: url("/images/candy-corn.jpg") 20 / 45px;
  /* background-image: url("/images/casper-background.png"); */
  background-position: center;
  background-repeat: repeat-x;
  background-size: 40%;
}

h1 {
  font-family: "foto";
}

header {
  text-align: center;
  padding-top: 5px;
  height: 45px;
  background-color: rgba(34, 33, 33, 0.599);

  color: whitesmoke;
}

main {
  width: calc(100% - 90px);
  height: calc(100% - 90px);
  margin: auto;
}

main section#dashboard {
  display: flex;
  justify-content: space-between;
}

/* targets progress bar */
#fear-meter-box {
  display: flex;
  width: 300px;
  margin: 10px;
  gap: 5px;
}

.fa-skull {
  font-size: 2.5em;
  color: red;
  background-color: black;
  padding: 10px;
  border-radius: 50%;
}

#progress-box {
  display: flex;
  width: 100%;
  border: 2px solid black;
  background-color: rgba(49, 36, 36, 0.306);
}

.fear-bar {
  display: inline-block;
  width: 16.59%;
  height: 100%;
}

.fa-snapchat::before {
  font-size: 1.5em;
  color: whitesmoke;
}

.fa-ghost::before {
  font-size: 1.5em;
}

#ghost-counter-box i {
  width: 24px;
  margin: 5px;
}

#start-reset-buttons button {
  width: 120px;
  border: whitesmoke;
  height: 1.5em;
  background: rgb(29, 30, 34);
  background: linear-gradient(
    90deg,
    rgba(29, 30, 34, 1) 0%,
    rgba(173, 28, 11, 1) 88%
  );
  color: whitesmoke;

  font-weight: bold;
}

#doors-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-evenly;
  max-width: 890px;
  margin: auto;
}

#doors-container img {
  height: 214px;
}

.door {
  flex-basis: 150px;
  flex-shrink: 0;
  position: relative;
  height: 200px;
}

img.ghost {
  position: absolute;
  z-index: 1;
  left: 0;
}

/* Win and lose containers */

#results-container {
  height: 100%;
}

#results-container.gameover {
  background-color: #b33939;
}

#results-container.winner {
  background-color: #2e86de;
}

#heading-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

#heading-box h2 {
  font-size: 4em;
  font-weight: bold;
  font-family: "Alegreya Bold";
  color: rgba(173, 28, 11, 1);
}

#heading-box h2.gameover {
  color: #ff5252;
}

#heading-box h2.winner {
  color: #feca57;
}

#heading-box p {
  font-size: 1.5em;
  font-family: "Alegreya Light";
  color: whitesmoke;
  max-width: 675px;
  text-align: center;
}

#reaper-box {
  display: flex;
  justify-content: center;
  height: 50%;
}

#reaper-box.gameover {
  background-image: url("../images/pumpkin-overlay.png");
}

#reaper-box.winner {
  background-image: url("../images/beach-overlay.png");
  background-size: 100% 100%;
}

#reaper-box img {
  height: 300px;
  width: 350px;
}
