* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d35400;
  height: 100vh;
  border-image: url("/images/candy-corn.jpg") 20 / 45px;
}

header {
  text-align: center;
  padding-top: 5px;
  height: 45px;
  background-color: rgba(34, 33, 33, 0.599);

  color: whitesmoke;
}

main {
  width: calc(100% - 90px);
  margin: auto;
  padding: 10px;
}
